body {
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

.header {
    border-bottom: 3px solid #32b9cd;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: #32b9cd;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: #e3b062;
    align-items: center;
}

.banner {
    padding: 40px 20px 30px 10px;
    color: white;
    height: 400px;
    background-image: url(Imagens-CCO/imagens/bg-jelly-fish-para_outras_pags.png);
}

.banner .container {
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.banner .container {
    font-size: 40px;
    width: 20%;
}

.banner .container span {
    color: #32b9cd;
    font-weight: bold;
}

.social {
    background-color: white;
    color: black;
    padding: 40px 0;
}

.social .container {
    justify-content: space-around;
}

.card {
    width: 300px;
    text-align: center;
}

.card img {
    width: 100px;
}

.card h4 {
    font-size: 24px;
}

.footer {
    background-color: #32b9cd;
}

.footer .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer .container p {
    font-weight: bold;
    color: black;
}

.header a {
    text-decoration: none;
    color: #e3b062;
}

.agora {
    font-weight: 800;
}